/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #29abc9;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 50px;
}

h1, h2, h3 {
    margin: 10px;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: rgb(219, 235, 76);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.placement-highlights ul {
    list-style-type: none;
    padding: 0;
}

.placement-highlights ul li {
    background-color: #e8f5e9;
    padding: 10px;
    margin: 5px 0;
    border-left: 4px solid #4CAF50;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

td:hover {
    background-color: #f1f1f1;
}

/* Stream Section */
.stream {
    margin-bottom: 40px;
}

.stream h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.3rem;
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
